.find{
    margin-top: 20px;
    /* height: 246.8px; */
    width: 100%;
    background-color: rgb(58, 8, 8);
    color: white;
    text-align: center;
    padding: 48px 16px;
}
.findfirst{
    margin-top: 71px;
    width: 100%;
    background-color: rgb(58, 8, 8);
    color: white;
    text-align: center;
    padding: 48px 16px;
}
.find input{
    font-size: 18px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}
.find select{
    font-size: 18px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}
.findfirst input{
    font-size: 18px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}
.findfirst select{
    font-size: 18px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}
.info-container{
    height: 600px;
    padding-left: 166.4px;
    padding-right: 166.4px;
    overflow-y: scroll;
}
.info{
    text-align: center;
    height: 180px;
    background-color: rgb(235, 229, 229);
}
.info h2{
    color: rgb(58, 8, 8); 
}
.info .subject{
    color: rgb(0, 181, 241);
    font-size: 20px;
    cursor: pointer;
}
.info .scheduling-container{
    margin-top: 24px;
    padding-top: 12px;
    border-top-style: dotted;
    border-width: 1px;
}
.scheduling{
    font-size: 18px;
    color: rgb(58, 8, 8);
}
.scheduling-container .time{
    color: rgb(0, 181, 241);
    font-size: 20px;
    cursor: pointer;
}
.related-data-container{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.add-data, .delete-data{
    font-size: 30px;
    margin: 16px 16px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}
.add-data{
    background-color: rgb(128, 123, 123);
}
.delete-data{
    background-color: rgb(128, 123, 123);
}
.add-data:hover{
    background-color: red;
    color: white;
}
.add-data:active{
    background-color: rgb(206, 116, 116);
}
.delete-data:hover{
    background-color: blue;
    color: white;
}
.delete-data:active{
    background-color: rgb(119, 119, 198);
}
/* .modal-body {
    height: 1000px;
    width: 1000px;
} */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .detail-info{
    height: 100%;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .subject_modal, .scheduling, .time_modal{
    text-align: center;
  }
  .subject_modal{
    font-size: 25px;
  }
  .scheduling{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
  }
  .time_modal{
    font-size: 25px;
  }
  .scheduling-patient{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
  }
  .detail-patient{
    text-align: center;
    font-size: 25px;
  }
  
  
.infoStaff{
    width: 85%;
}
.staff1{
    /* width: 90%; */
    padding-bottom: 10px;
    padding-left: 40px;
}
.staff1 h2{
    padding: 10px 0;
    font-size: 25px;
}
.staff1 p{
    padding-top: 0px;
    font-size: 14px;
}
.buttonFunc{
    padding: 0 20px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: bottom;
    flex-direction: column;
}
.buttonFunc button{
    margin: 5px;
}
.buttonFunc form button{
    margin: 5px;
    width: 95%;
}
