@import url('https://fonts.googleapis.com/css2?family=Anton&family=Domine:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header{
    background-color: white;
    z-index: 100;
    height: 70px;
    top: 0px; 
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    font-size: 18px; 
    border-bottom-width:2px ;
    border-bottom-style: solid ;
    border-bottom-color: rgb(240, 240, 240);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
}
.left, .middle, .right{
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    color: white;
}
.general, .contact ,.treatment, .patient, .medicine, .device{
    color: rgb(58, 8, 8);
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: white;
}
.general:hover, .contact:hover, .introduce:hover ,.treatment:hover, .patient:hover, .medicine:hover, .device:hover{
    text-decoration: underline;
}

.left{
    color: rgb(58, 8, 8);
    font-size: 30px;
    font-family: "Tapestry", serif;
    padding-left: 100px;
    cursor: pointer;
}
.middle{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right:100px;
}
.middle button:hover{
    background-color: #cecece;
}
.right{
    width: 200px;
}
.login{
    font-size: 15px;
    color: rgb(58, 8, 8);
    height: 30px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 60px; */
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
}
.logout{
    color: rgb(58, 8, 8);
    margin: 0 5px;
    text-decoration: underline;
    font-weight: 16px !important;
}
.logout:hover{
    cursor: pointer;
    color: rgb(196, 26, 26);
}
.end-of-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.modern, .qualification, .heart, .phone{
    padding: 10px 0;
    width: 100%;
    background-color: rgb(250, 242, 242);
    height: 190px;
}
.modern i, .qualification i, .heart i, .phone i{
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adver{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    color: rgb(58, 8, 8);
    font-weight: 600;
}
.adver-detail{
    text-align: center;
    font-size: 15px;
    color: rgb(58, 8, 8);
    width: 350px;
}
.phone .adver:hover{
    cursor: pointer;
    text-decoration: underline;
}
.phone i:hover{
    cursor: pointer;
}
.search-button{
    color: white;
    height: 53px;
    width: 53px;
    background-color: rgb(58, 8, 8);
    border-width: 1px solid #ffff;
    /* border-style: solid; */
    /* border-color: white; */
    margin-left: -10;
    margin-right: 10px;
    /* border-radius: 10px; */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search-icon{
    height: 60%;
    width: 60%;
}
.search-form{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0 20px; */
    box-sizing: border-box;
}
.search-form select{
    margin: 0 5px;
}
.search-form input{
    margin: 0 5px;
}
.search-form button{
    margin-left: 5px;
}
.insertMedicine{
    height: 50px;
    margin: 15px 2%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.insert-but{
    color: white;
    background-color: rgb(58, 8, 8);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
}
.insert-but:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(87, 26, 26);
}
.box-list{
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.listbox{
    background-color: rgb(237, 225, 225);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#toast1 {
    position: fixed;
    top: 75px;
    right: 10px;
    z-index: 999999;
}
.toast1 {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast1--success {
    border-color: #47d864;
}

.toast1--success .toast1__icon {
    color: #47d864;
}

.toast1--info {
    border-color: #2f86eb;
}

.toast1--info .toast1__icon {
    color: #2f86eb;
}

.toast1--warning {
    border-color: #ffc021;
}

.toast1--warning .toast1__icon {
    color: #ffc021;
}

.toast1--error {
    border-color: #ff623d;
}

.toast1--error .toast1__icon {
    color: #ff623d;
}

.toast1 + .toast1 {
    margin-top: 24px;
}

.toast1__icon {
    font-size: 24px;
}

.toast1__icon, .toast1__close {
    padding: 0 16px;
}

.toast1__body {
    flex-grow: 1;
}

.toast1__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast1__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast1__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.treatment li a{
    color: rgb(58, 8, 8);
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    text-align: left;
}

.treatment ul.sub-menu{
    z-index: 1;
    width: 270px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    list-style: none;
    padding: 0;
    margin-top: 24px;
    display: none;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}
.treatment:hover ul.sub-menu{
    display: block;
}
.treatment ul.sub-menu a{
    padding: 20px;
    border-bottom: 1px solid #cecece;
}

.treatment ul.sub-menu li:hover{
    background-color: rgb(223, 223, 223);
}
.info-but{
    padding: 0 5px;
    border: unset;
}
.info-but:hover{
    text-decoration: underline;
    color: blue;
}
