
.find{
    margin-top: 71px;
    /* height: 246.8px; */
    width: 100%;
    background-color: rgb(58, 8, 8);
    color: white;
    text-align: center;
    padding: 48px 16px;
}
.find input{
    font-size: 18px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}

.infoMedicine{
    width: 85%;
}
.medicine1{
    /* width: 90%; */
    padding-bottom: 10px;
    padding-left: 40px;
}
.medicine1 h2{
    padding: 10px 0;
    font-size: 25px;
}
.medicine1 p{
    font-size: 14px;
}

.box-list{
    max-height: 1200px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.listbox{
    background-color: rgb(237, 225, 225);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.buttonFunc{
    padding: 0 20px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: bottom;
    flex-direction: column;
}
.buttonFunc button{
    margin: 5px;
}
.buttonFunc form button{
    margin: 5px;
    width: 95%;
}
.order-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.order, .number{
    height: 50px;
    width: 50px;
    color: rgb(58, 8, 8); 
    border-color: rgb(58, 8, 8);
    cursor: pointer;
}
.order:active{
    background-color: rgb(58, 8, 8);
    color: white;
    cursor: pointer;
}
.number:hover{
    background-color: rgb(58, 8, 8);
    color: white;
    cursor: pointer;
}


table{
    border-spacing: 0;
    width: 1100px;
    border: 1px solid;
    background-color: rgb(254, 240, 218);
}
th,td,tr{
    border-spacing: 0;
    border: 1px solid;
    box-sizing: border-box;
}
.align-table{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-table{
    height: 350px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.align-tr td{
    padding-left: 10px;
    border: 1px solid;
}
.set-border th{
    border: 1px solid;
    padding-left: 10px;
}