@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(125, 118, 118);
    background: url(imagine/OIG2.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
/* #anouncer{
    height: 70px;
    width: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 34%;
    background-color: black;
}
.show{
    display: none;
} */
.wrapper{
    width: 420px;
    background: rgb(177, 173, 173);
    background: transparent;
    backdrop-filter: blur(10px);
    border: 5px solid rgba(0, 0, 0);
    box-shadow: 0 0 10;
    color: rgb(58, 8, 8);
    border-radius: 40px;
    padding: 30px 0px 30px 40px;
    position: relative;
    left: 15%;
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px, 0;
    margin-bottom: 5px;
}
.input-box input{
    width: 330px;
    height: 100%;
    background-color: transparent;
    border-radius: 40px;
    border: none;
    outline: none;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 20px; 
}
.input-box input::placeholder{
    color: rgb(0, 0, 0);
}
.input-box i{ 
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 10px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a, .register-link a{
    color: rgb(58, 8, 8);
    text-decoration: none;
    font-weight: 600;
}
.remember-forgot a:hover, .register-link a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 90%;
    height: 45px;
    background-color: rgb(58, 8, 8);
    border: none;
    outline: none;
    border-radius: 40px;
    color: yellow;
    cursor: pointer;
    font-size: 16px;
    transition: opacity 0.15s;
}
.wrapper .btn:hover{
    opacity: 0.8;
}
.wrapper .btn:active{
    font-weight: 600;
    opacity: 0.4;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
#toast1 {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}
.toast1 {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast1--success {
    border-color: #47d864;
}

.toast1--success .toast1__icon {
    color: #47d864;
}

.toast1--info {
    border-color: #2f86eb;
}

.toast1--info .toast1__icon {
    color: #2f86eb;
}

.toast1--warning {
    border-color: #ffc021;
}

.toast1--warning .toast1__icon {
    color: #ffc021;
}

.toast1--error {
    border-color: #ff623d;
}

.toast1--error .toast1__icon {
    color: #ff623d;
}

.toast1 + .toast1 {
    margin-top: 24px;
}

.toast1__icon {
    font-size: 24px;
}

.toast1__icon, .toast1__close {
    padding: 0 16px;
}

.toast1__body {
    flex-grow: 1;
}

.toast1__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast1__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast1__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
  