.find{
    margin-top: 71px;
    /* height: 246.8px; */
    width: 100%;
    background-color: rgb(58, 8, 8);
    color: white;
    text-align: center;
    padding: 48px 16px;
}
.find input{
    font-size: 18px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}
.find select{
    font-size: 18px;
    border-radius: 34px;
    margin: 0px;
    padding: 12px 24px;
    text-overflow: ellipsis;
    color: rgb(58, 8, 8);
}

.patient-info{
    height: 350px;
    width: 350px; 
}
.order-container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.order, .number{
    height: 50px;
    width: 50px;
    color: rgb(58, 8, 8); 
    border-color: rgb(58, 8, 8);
    cursor: pointer;
}
.order:active{
    background-color: rgb(58, 8, 8);
    color: white;
    cursor: pointer;
}
.number:hover{
    background-color: rgb(58, 8, 8);
    color: white;
    cursor: pointer;
}
.name{
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}
.infoPatient{
    width: 85%;
}
.patient1{
    /* width: 90%; */
    padding-bottom: 10px;
    padding-left: 40px;
}
.patient1 h2{
    padding: 10px 0;
    font-size: 25px;
}
.patient1 p{
    font-size: 14px;
}
.buttonFunc{
    padding: 0 20px;
    width:  15%;
    display: flex;
    justify-content: center;
    align-items: bottom;
    flex-direction: column;
}
.buttonFunc button{
    margin: 5px;
}